nav li {
  list-style: none;
  margin: 10px;
  display: inline;
}
nav li a {
  text-decoration: none;
}
nav li :hover {
  color: red;
  background-color: green;
  border: 10px solid blue;
  border-radius: 25px;
}
footer {
  color: green;
  background-color: red;
  text-align: center;
}
figcaption {
  color: aqua;
  background-color: black;
  text-align: center;
}
article {
  color: white;
  background-color: aqua;
  border: 5px solid black;
  border-radius: 25px;
  margin: 25px;
  padding: 15px;
}
section {
  background-color: blueviolet;
  border: 5px solid black;
  border-radius: 25px;
  margin: 25px;
  padding: 15px;
}
img{
    border-radius: 25px;
    border: 2px solid white;
    margin: 50% 50% 50%x 50%;
}
